<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>RookieCoder</title>
</head>
<body>
  <header>
    <div>RookieCoder</div>
    <div><a href="https://forms.gle/HB5CUr9ZZJ2cwWmq7" target="_blank">参加フォーム</a></div>
  </header>
  <div class="title-img">ROOKIECODERS</div>
  <main>
    <br>
    <h1>RookieCoder</h1>
    <br>
    <h2>完全無料の初心者向けプログラミングコミュニティ</h2>
    <br>
    <h3>About</h3>
    <p>プログラミングに挑戦してみたいけど、挑戦する場所が見つけられてない人が集まるコミュニティです。基本的に初学者の方が参加の対象となっております。最新の技術や難解な技術を扱う場所ではなく、初心者が楽しくプログラミングに挑戦することができる場所です！</p>
    <p>プログラミングはパソコン一台で始められるものです！ぜひ楽しく勉強していきましょ〜！</p>
    <br>
    <h3>Activities</h3>
    <p>以下のような活動を予定しております（大部分が未定ですので変わる可能性があります）</p>
    <ul>
      <li>勉強会</li>
      <li class="indent_two">テーマを決めて同じ教材（無料のものなど）に取り組む時間</li>
      <li>競技プログラミング</li>
      <li class="indent_two">AtCoderなどの競プロを行う会</li>
      <li>交流会</li>
      <li class="indent_two">オン/オフどちらも開催できたらなって思ってます</li>
    </ul>
    <br>
    <h3>Welcome</h3>
    <h4>こんな方におすすめ</h4>
    <ul>
      <li>プログラミングを始めるきっかけが欲しい</li>
      <li>大学の講義だけじゃつまらない / 講義で挫折した</li>
      <li>同じレベル感の友達を見つけたい</li>
      <li>大学以外の場でも交流がしたい</li>
    </ul>
    <br>
    <h4>おすすめできない方</h4>
    <p>（入会を禁止するという意味ではなく、当コミュニティに満足してもらえない可能性がある方をあげています）</p>
    <ul>
      <li>つよつよエンジニアとバリバリ開発がしたい</li>
      <li>すでに開発経験がある人</li>
      <li>プログラミングを懇切丁寧に教えて欲しい人</li>
    </ul>
    <br>
    <h2>参加する</h2>
    <p>以下のフォームから参加できます</p>
    <p><a href="https://forms.gle/HB5CUr9ZZJ2cwWmq7">
      <img src={{image}} alt="参加フォーム" id="image">
    </a></p>
    <p>当アンケートに記載していただいた個人情報は、discordへの招待およびコミュニティ運営の目的以外では利用しません。ご本人の同意がなければ第三者に個人情報を提供することもございません。取得した個人情報は管理責任者を定め、紛失や漏洩などが発生しないよう積極的な安全対策を実施いたします。</p>
  </main>
</body>
</html>
